@model Cosmetics
@using System.Collections.Generic;

<!-- ****** Quick View Modal Area Start ****** -->

<div class="modal fade" id="@Model" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>

            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img src="@Url.Content(@Model.Img)" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">@Model.Name</h4>
                                    <div class="top_seller_product_rating mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="price">@{var value = String.Format("{0,-5:N0}đ", @Model.Price); }@value @*<span>$130</span>*@</h5>
                                    <p>@Model.Detail</p>
                                    <a asp-area="" asp-controller="Cosmetics" asp-action="ChiTietSP" asp-route-id="@Model.Id">Xem chi tiết sản phẩm</a>
                                </div>
                                <!-- Add to Cart Form -->
                                <form class="cart" method="post">
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if (!isNaN(qty) & amp;& amp; qty > 1) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>

                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">

                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    </div>
                                    <button type="submit" name="addtocart" value="5" class="cart-submit">Add to cart</button>
                                    <!-- Wishlist -->
                                    <div class="modal_pro_wishlist">
                                        <a href="wishlist.html" target="_blank"><i class="ti-heart"></i></a>
                                    </div>
                                    <!-- Compare -->
                                    <div class="modal_pro_compare">
                                        <a href="compare.html" target="_blank"><i class="ti-stats-up"></i></a>
                                    </div>
                                </form>

                                <div class="share_wf mt-30">
                                    <p>Chia sẻ bạn bè</p>
                                    <div class="_icon">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
<!-- ****** Quick View Modal Area End ****** -->
<div class="container">
    <div class="row karl-new-arrivals" style="position: relative; height: 1094.03px;">

        <!-- Single gallery Item Start -->
        @{ int i = 0;}

        @if (@Model.TypeId == 5002)
        {
            if (i < 6)
            {
                <div class="col-12 col-sm-6 col-md-4 single_gallery_item makeup wow fadeInUpBig" data-wow-delay="0.2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none; position: absolute; left: 0%; top: 0px;">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="~/images/upload/@Model.Img" alt="">
                        <div class="product-quicview">
                            <a href="#" data-toggle="modal" data-target="#@Model.Id"><i class="ti-eye"></i></a>
                        </div>
                    </div>
                    <!-- Product Description -->
                    <div class="product-description">
                        <h4 class="product-price">@{var varlue1 = String.Format("{0,-5:N0}đ", Model.Price); }@value</h4>
                        <p>@Model.Name</p>
                        <!-- Add to Cart -->
                        <a href="#" class="add-to-cart-btn">Thêm vào giỏ hàng</a>
                    </div>
                </div>
            }
            i++;
        }

    </div>
</div>
