@model IEnumerable<MyOrderViewModel>

@if (Model?.Count() <= 0)
{
    <div>
        <p>Chưa có sản phẩm nào đặt. Hãy chọn sản phẩm và đặt hàng</p>
    </div>
    return;
}

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Địa chỉ thanh toán</th>
            <th>Tóm tắt đơn hàng</th>
            <th>Tổng cộng</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var order in Model)
        {
            <tr>

                <td class="text-justify">
                    <div>
                        @order.OrderPlaceDetails.FirstName @order.OrderPlaceDetails.LastName,
                        @order.OrderPlaceDetails.AddressLine1
                    </div>
                    <div>@order.OrderPlaceDetails.PhoneNumber</div>
                    <div>@order.OrderPlaceDetails.Email</div>
                    <br />
                    <div>
                        @order.OrderPlacedTime.Date.ToString("dd/MM/yyyy")
                    </div>

                </td>


                <td>
                    <table class="table">
                        <tbody>
                            @foreach (var item in order.CosmeticsOrderInfos)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @{var value = String.Format("{0,-5:N0}đ", item.Price); }@value * @item.Qty
                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                </td>
                <td>
                    @{var value1 = String.Format("{0,-5:N0}đ", order.OrderTotal); }@value1
                </td>
            </tr>

        }

    </tbody>
</table>